.education {
    background: #363740;
    color: white;
    grid-area: education;
       
    &__education-title {
        font-size: 15px;
        letter-spacing: 0.7px;
        background: #d8ba43;
        color: #000000;
        font-weight: bold;
        margin: 0;
        padding: 8px 22px;
        text-transform: uppercase;
        text-align: right;
        font-family: "roboto";
    }

    &__vuz {
        display: block;
        padding: 12px 20px 0;
        font-size: 9px;
        text-align: right;
        letter-spacing: 0.67px;          
    }

    &__qualify {
        margin-bottom: -4px;
        letter-spacing: 0.5px;
        display: block;
        font-size: 12px;
        text-transform: uppercase;
    }     
}