.App {
  text-align: center;
  font-family: 'Prompt', sans-serif;
  background: url('/portfolio/img/gazon.jpg');
  padding-top: 1vh;
  height: 100vh;
  box-sizing: border-box;
}

.flex-wrap {
  background: url('/portfolio/img/fon.jpg');
  display: flex;
  position: relative;
  max-width: 1280px;
  margin: auto;
  box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.75);
  border-radius: 10px;
  box-sizing: border-box;
  padding-bottom: 30px;
}

.pen {
  background: url('/portfolio/img/pen.png');
  width: 32px;
  height: 512px;
  background-size: 66%;
  background-repeat: no-repeat;
  position: absolute;
  right: 44px;
  top: 14px;
}

.cup {
  background: url('/portfolio/img/cup.png');
  width: 331px;
  height: 296px;
  position: absolute;
  right: -84px;
  top: 95px;
  background-size: 71%;
  background-repeat: no-repeat;
}

.iphone {
  background: url('/portfolio/img/i-keys.png');
  width: 331px;
  height: 336px;
  position: absolute;
  right: -136px;
  top: 394px;
  transform: rotate(-25deg);
  background-size: 56%;
  background-repeat: no-repeat;
}

.projects {

  &__project {
    &:hover {
      z-index: 1;
    }
  }

  &__project-main {
    background: url('/portfolio/img/projects-main.jpg');
    box-sizing: border-box;
    width: 170px;
    height: 93px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding-top: 57px;
    text-transform: uppercase;
    font-size: 11px;
    color: #442e27;
    left: 59px;
    top: 394px;
    box-shadow: 1px -1px 1px -1px rgba(0, 0, 0, 1);
  }

  &__project1 {
    background-color: #fff;
    box-sizing: border-box;
    width: 170px;
    height: 99px;
    position: absolute;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 11px;
    color: #442e27;
    left: 59px;
    top: 364px;
    box-shadow: 4px 3px 2px -1px rgba(0, 0, 0, 0.1);
  }
  
  &__lepestok {
    background: url('/portfolio/img/lepestok.png');
    width: 331px;
    height: 336px;
    position: absolute;
    right: 136px;
    top: 294px;
  }
}

@media screen and (max-width: 420px) {
  
}

@media screen and (max-width: 1366px) {
  .cv {
    margin: 20px 0 0 84px;
    transform: scale(0.95);
  }

  .projects {
    display: none;
  }
}  

@media screen and (max-width:1024px) {
  .cv {
    width: 700px;
    margin: auto;
  }
}

@media screen and (max-width: 1200px){
  .cup, .iphone, .pen {
    display: none;
  }

  .ihpone {
    background: url('/portfolio/img/i-keys.png');
    width: 331px;
    height: 272px;
    position: absolute;
    right: 48px;
    top: 394px;
    transform: rotate(-19deg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 156px;
  }

  .cup {
    background: url('/portfolio/img/cup.png');
    width: 331px;
    height: 177px;
    position: absolute;
    right: 74px;
    top: 95px;
    background-size: 103%;
    background-repeat: no-repeat;
    width: 200px;
 }

  .project {
    left: 52px;
 }
}






@font-face { 
  font-family: 'Neverwinter'; 
  src: url('/portfolio/fonts/Neverwinter.ttf')  format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Russell'; 
  src: url('/portfolio/fonts/Russell.otf')  format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

@import url('https://fonts.googleapis.com/css?family=Prompt:400,400i,700&display=swap');
