.project {   
    background-size: 100%;
    perspective: 500px;
    margin: -90px 0 0;
    transform: rotate(0);
    visibility: hidden;
    outline: none;
    top: -200px;    
    
    &--animated {
        visibility: visible;
        display: block;
        transition: transform 1s 1s, top 0.3s, visibility 0.2s 0.5s, margin 0.5s 0.5s;
        margin: -28px 0 0;
        transform: rotate(-12deg);
        position: relative;
        top: 210px;
    }

    &:hover .project__container {
        top: -15px;
        left: -15px;
    }

    &__container {        
        position: relative;
        height: 90px;
        width: 175px;
        left: 0;
        top: 0;
        transition: top 0.2s, left 0.2s;
        box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.45);
        // transform: rotate3d(0, 2, 2, 25deg);       
    }

    &__name {

    }

    &__name-lepestok {
        background: url('/portfolio/img/visitki/lepestok.jpg') 100%;
        // transform: rotate3d(-23, 15, 23, -30deg);
        & .project__name {
            display: none;
        }
    }

    &__name-react_uber-eats {
        background: url('/portfolio/img/visitki/uber.jpg');
        // transform: rotate3d(28, -6, 28, 20deg);

        .project__name {
            color: white;
            font-size: 8px;
            position: absolute;
            top: 37px;
            right: 8px;
            width: 73px;
        }
    }

    &__name-portfolio_layout_miami {
        background: url('/portfolio/img/visitki/miami.jpg');
        // transform: rotate3d(85, 0, -1, 23deg);

        .project__name {
            color: white;
            font-size: 10px;
            position: absolute;
            top: 64px;
            left: 10px;
        }
    }

    &__name-js_test {
        background: url('/portfolio/img/visitki/test.jpg');
        // transform: rotate3d(3, 0, -1, 23deg);

        .project__name {
            color: #2f2f2f;
            font-size: 8px;
            position: absolute;
            top: 77px;
            left: 0;
            width: 175px;
        }
    }
    &__name-portfolio_layout_dia {
        background: url('/portfolio/img/visitki/dia.jpg');
        
        // transform: rotate3d(3, 0, -1, 23deg);

        .project__name {
            color: white;
            font-size: 8px;
            position: absolute;
            top: 77px;
            left: 0;
            width: 175px;
        }
    }
}



