.project {
   
    margin: -40px 0;
    background-size: 100%;
    position: relative;
    perspective: 500px;
    transform: rotate(-12deg);
    top: 310px;
    left: 83px;
    display: block;
  
    &__container {
        height: 90px;
        width: 175px;
        box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.25);
        transition: transform 0.2s;
        &:hover {
            transform: translate(-2px, -38px);
        }
    }

    &__name {

    }

    &__name-Uber_eats {
        background: url('img/visitki/uber.jpg');
        transform: rotate3d(2, 1, 14, -10deg);

        .project__name {
            color: white;
            font-size: 8px;
            position: absolute;
            top: 37px;
            right: 8px;
            width: 73px;
        }
    }

    &__name-portfolio_layout_miami {
        background: url('img/visitki/miami.jpg');
        transform: rotate3d(85, 0, -1, 23deg);

        .project__name {
            color: white;
            font-size: 10px;
            position: absolute;
            top: 64px;
            left: 10px;
        }
    }

    &__name-js_test {
        background: url('img/visitki/test.jpg');
        transform: rotate3d(3, 0, -1, 23deg);

        .project__name {
            color: #2f2f2f;
            font-size: 8px;
            position: absolute;
            top: 77px;
            left: 0;
            width: 175px;
        }
    }
    &__name-portfolio_layout_dia {
        background: url('img/visitki/dia.jpg');
        
        transform: rotate3d(3, 0, -1, 23deg);

        .project__name {
            color: white;
            font-size: 8px;
            position: absolute;
            top: 77px;
            left: 0;
            width: 175px;
        }
    }
}