.profile-title {
    height: 104px;
    margin-top: -108px;
    padding-top: 14px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 22px;
    color: white;
    text-align: right;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background-color: #a98500b8;
    grid-area: title;
       
    &__square {
        width: 47px;
        height: 10px;
    }
}